 
/*=========================
    ORDER OF CONTENT

    1. Modal CSS
    2. Registration CSS-- Common for OTP validate and Savepassword
    3.
    4.
    5.
    6.

 
==========================*/



/*-------- Login modal css-- 2 3 pagil und login----*/
.modal-dialog .modal-content{
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
    border-radius: 25px;
    border: 2px solid #000;
}
.modal-dialog .modal-header{
    border-bottom: none;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 0;
    padding-left: 24px;
}
.modal-dialog .modal-header .modal-title{
    font-size: 17px;
    font-weight: 300;
    color: #3C4858;
    margin-bottom: 0;
    margin-top: 10px;
    line-height: 1.5;
}
.modal-dialog .modal-body {
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 30px;
    color: #3C4858;
}
.modal .modal-header .close i{
    font-size: 16px;
    color: #999;
}
.modal-dialog .modal-footer{
    border-top: none;
    padding: 15px !important;
}
.modal-dialog .modal-body+.modal-footer{
    padding-top: 0 !important;
}
.modal-dialog .modal-footer button{
    margin: 0 !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    width: auto;
}
.modal-login {
    max-width: 390px !important;
    margin-top:130px;
}
.modal-dialog .modal-content .card-signup .modal-header {
    padding-top: 0;
}
.modal-login .modal-header .card-header{
    width: 100%;
}
.modal-login .modal-header .close {
    color: #fff;
    top: -25px;
    right: 50px;
    text-shadow: none;
    position: absolute;
}
.modal-login .modal-header .close i{
    color: #fff;   
}

.modal-login .modal-body {
    padding-left: 24px !important;
}
.modal-login .modal-footer {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.modal-login .modal-body {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.modal-login .modal-body .form .description {
    padding-top: 15px;
    margin-bottom: 10px;
    color: #999;
}
.card
{
    border-radius: 25px;   
    padding-bottom: 10px !important;
    background-image: url('../img/skills.png');
}
.card .card-title{
    color: #fff;
    font-size: 25px !important;
    font-weight: 700 !important;
    
    margin-top:10px;
}
.card .card-header{
    border-radius: 12px !important;
    padding: 1rem 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border: 0;
}
.card .card-header-primary {
    box-shadow: 0 5px 20px 0 #55555566, 0 13px 24px -11px #00000099;
    background: linear-gradient(60deg,#3F51B5,#046c9c)
}
.card-plain .card-body {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.card .card-body {
    padding: 15px;
}
.modal-dialog .modal-body {
    padding: 24px 10px 16px;
}

.modal-content .container
{
    text-align: center;
    width: 350px;
    height: 300px;
    background: transparent;
    border-radius: 30px;
    transition: 1s;
    padding-top: 40px;
    padding-bottom: 10px;
}
.modal-content .container i
{
    transform: translateX(35px);
    color: #000;
}
.modal-content .container input{
    outline: none;
    border-radius: 30px;
    border: 2px solid black;
    width: 270px;
    height: 45px;
    background-color: white;
    margin-top: 25px;       
    padding-right: 20px;
    margin-right: 20px;
    font-size: 16px;
    transition: all .4s;
}
.modal-content .container input:invalid {
            border-color: #a40721;
}
.modal-content .container input[type="tel"] {
    color: black;
    padding-left: 40px;    
}
.modal-content .container input[type="password"]
{
    color: black;
    padding-left: 40px;
}
.modal-content .container input[type="submit"]{
    cursor: pointer;
    width: 150px;
    height: 45px;
    background-color: #fff;
    color: black;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 30px;
    border: none;
    outline: none;
    transition: .4s;
    margin-top: 0px;
    border: 2px solid black;
    padding-left: 20px;
}
.modal-content .container input[type="submit"]:hover {
    background-color: #00ff95;
}
.modal-content .container input[type="submit"]: valid{
    border: 2px solid #00ff95;
}
.modal-content .container .forgot
{
    text-align: right !important;
    padding-right: 17px;
}
.modal-content .container .forgot a
{
    color: #000;
    font-size: 12px;
    font-weight: 600;
}

/*========== modal css theernu========= */


/*========== Registration Page===========*/
/*This registration css common for OTP and Password page*/

.reg-section
{
    background-color: #fff;
}
.registration
{
    background: #f3f5fa;
    padding-top: 30px !important;
}
.registration .container
{
    
    
}
.registration .container i
{
    transform: translateX(45px);
    color: #000;
}
.registration .container label
{
    margin-left: 35px;
    font-weight: 500;
}
.registration .container input{
    outline: none;
    border-radius: 30px;
    border: 2px solid #47B2E4;
    width: 87%;
    height: 45px;
    background-color: white;
    margin-top: 5px;       
    padding-right: 20px;
    margin-left: 10px;
    font-size: 16px;
    transition: all .4s;
}
.registration .container input:invalid {
            border-color: #d90125 !important;
}
.registration .container input: focus{
    box-shadow: 0 5px 20px 0 #55555566, 0 13px 24px -11px #00000099;
}
.registration .container input[type="text"] {
    color: black;
    padding-left: 40px;   
    margin-top: 0px !important; 
}
.registration .container input[type="tel"] {
    color: black;
    padding-left: 40px;    
}
.registration .container input[type="password"]
{
    color: black;
    padding-left: 40px;
}
.registration .container input[type="date"]
{
    color: black;
    padding-left: 40px;
}
.registration .container input[type="email"]
{
    color: black;
    padding-left: 40px;
}
.registration .container input[type="submit"]{
    cursor: pointer;
    width: 200px;
    height: 45px;
    background-color: #fff;
    color: black;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 30px;
    outline: none;
    transition: .4s;
    margin-top: 25px;
    border: 2px solid black;
    padding-left: 20px;
    margin-left: 27%;
    
}
.registration .container input[type="submit"]:hover {
    background-color: #72c7ef;
}
.registration .container input[type="submit"]: invalid{
    border: 2px solid red;
}

.registration .container h2
{
    color: #37517e;
    font-size: 26px;
    text-align: center;
    font-family: 500;
    margin-left: -20px;
}
.registration .container .validate
{
    margin-left: 35px;
}

.registration .container .account
{
    margin-left: 120px;
    margin-top: -25px;
    margin-bottom: -20px;
    font-size: 15px;
    color: red;
}
.account
{
    animation:  shake 0.5s  ; 
    animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); font-size: 120%; }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}



/* Form irikunna box css- white color-*/
.registration .form-box {
  width: 100%;
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.registration .form-box .form-group {
  padding-bottom: 8px;
}

.registration .form-box .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.registration .form-box .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.registration .form-box .error-message br + br {
  margin-top: 25px;
}

.registration .form-box .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.registration .form-box .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.registration .form-box .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.registration .form-box input:focus, .registration .form-box textarea:focus {
  border-color: #47b2e4;
}

.registration .form-box button[type="submit"] {
  padding: 12px 34px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  margin-top: -20px;
}
.registration .form-box .validation-message
{
    margin-left: 130px;
    margin-top: -15px !important;
}
.registration .form-box .validation-message p
{
    text-transform: uppercase;
    font-weight: 600;
}
.registration .form-box .validation-message .success
{
    color: green;
    visibility: hidden;
    margin-left: 20px;
}
.registration .form-box .validation-message .error
{
    color: red;
    z-index: 222;
    position: relative;
    margin-top: -40px;
    visibility: hidden;
}
.registration .form-box .validation-message .length
{
    position: relative;
    margin-top: -40px;
    margin-left: -30px;
    visibility: hidden;
}

.registration .form-box .instruction
{
    margin-left: 20px;
}
.registration .form-box .verify
{
    visibility: hidden;
}